<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  
  <div class="row col-12">

    <div *ngFor="let movie of movieList" class="col-lg-3 col-md-4 col-sm-12 mb-4">
      <div class="card">
        <img src="../assets/movie-22.png" class="card-img-top" alt="..."  *ngIf="!movie.poster">
        <img src="{{movie.poster}}" class="card-img-top" alt="..."  *ngIf="movie.poster">
        <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
          <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#detailModal" (click)="setDetailedMovie(movieList.indexOf(movie))">See details</a>
        </div>
      </div>
    </div>

  </div>

  
  <button class="btn btn-dark" id="add-movie-button" data-toggle="modal" data-target="#newMovieModal">Add Movie</button>  

</div>

<!-- new Movie Modal -->
<div class="modal fade" id="newMovieModal" tabindex="-1" role="dialog" aria-labelledby="newMovieModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newMovieModalTitle">New Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="movieForm">
          <div class="form-group dropdown">
            <label for="movie-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="movie-title" (keyup)="searchOMDb($event)" (focusout)="hideAutocomplete()" formControlName="title">
            <div class="dropdown-menu" aria-labelledby="movie-title" #autocompleteDiv>
            </div>
          </div>
          <div class="form-group">
            <label for="movie-genre" class="col-form-label">Genre:</label>
            <input type="text" class="form-control" id="movie-genre" placeholder="Action, Adventure, Sci-Fi" formControlName="genre"/>
          </div>
          <div class="form-group">
            <label for="movie-release-date" class="col-form-label">Release date:</label>
            <input type="date" class="form-control" id="movie-release-date" formControlName="releaseDate" />
          </div>
          <div class="form-group">
            <label for="movie-main-actors" class="col-form-label">Main actors:</label>
            <input type="text" class="form-control" id="movie-main-actors" placeholder="Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page" formControlName="mainActors"/>
          </div>
          <div class="form-group">
            <label for="movie-plot" class="col-form-label">Plot:</label>
            <textarea class="form-control" id="movie-plot" formControlName="plot"></textarea>
          </div>
          <div class="form-group">
            <label for="movie-poster" class="col-form-label">Poster Url:</label>
            <input type="text" class="form-control" id="movie-poster" formControlName="poster"/>
          </div>
          <div class="form-group">
            <label for="movie-trailer" class="col-form-label">Trailer Url:</label>
            <input type="text" class="form-control" id="movie-trailer" formControlName="trailer" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addMovie()">Add Movie</button>
      </div>
    </div>
  </div>
</div>

<!-- Details -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLongTitle">{{movieDetailsForm.value.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
              <img src="{{movieDetailsForm.value.poster}}">
          </div>
          <div class="col-md-7">
            <div class="w-100"><b>Genre:</b></div>
            <div class="w-100">{{movieDetailsForm.value.genre}}</div>
            <div class="w-100"><b>Release date:</b></div>
            <div class="w-100">{{movieDetailsForm.value.releaseDate}}</div>
            <div class="w-100"><b>Actors:</b></div>
            <div class="w-100">{{movieDetailsForm.value.mainActors}}</div>
            <div class="w-100"><b>Plot:</b></div>
            <div class="w-100">{{movieDetailsForm.value.plot}}</div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <a href="{{movieDetailsForm.value.trailer}}" target="_blank" class="btn btn-danger">Trailer</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
